<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Desastres Naturais — Brasil</title>
    
    <!-- Leaflet CSS -->
    <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>

<body>
  <header>
  Desastres Naturais — Mapa Interativo do Brasil
  <div style="margin-left:auto">
    Ano: 
    <select id="yearFilter">
      <option value="">Todos</option>
      
    </select>
  </div>
  </header>
  <div id="map"></div>

  <!-- Leaflet JS -->
  <script
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""
  ></script>

  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
